{% extends 'user_navbar.html' %}

{% block title %} Request Books {% endblock %}

{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="container my-4">
        <div class="jumbotron">
            <h1 class="display-4">Request For A Book</h1>
            <p class="lead">If you want to buy a book which is not available in the list of books then you can simply fill the below details. We will try to make it available in sometime.<br> <br> Thankyou and Have a nice day!!</p>
            </div>

    <div class="container">
    <form action="/request_books/" method="POST"> {% csrf_token %}
        <input type="text" name="book_name" id="book_name" placeholder="Book Name">
     &nbsp;&nbsp;&nbsp;   <input type="text" name="author" id="author" placeholder="Book Author">
     &nbsp;&nbsp;&nbsp;   <button type="submit">Submit</button>
    </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    {% endblock %}
   
    
    {% block js %} 
<script>
     {% if thank %}
alert('We will contact you soon');
document.location = "/for_users/"
{% endif %}
  </script>
    {% endblock %}




