{% extends 'base.html' %}

{% block title %} 注册 {% endblock %}

{% block css %}
body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
  }
  
  .forming {
    max-width: 600px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }
  
  h1 {
    margin: 0 0 10px 0;
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"],   
  input[type="email"],
  textarea {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 10px;
  }
    
  .login {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  
{% endblock %}
{% block body %}

<br>
  <form action="/user_login/" method="post" class="forming"> {% csrf_token %}
  
    <h1>用户登陆</h1>
            
      <label for="name">用户名:</label>
      <input type="text" id="user_username" name="user_username">
     
      <label for="password">密码:</label>
      <input type="password" id="user_password" name="user_password">
          
    <button class="login" type="submit">登陆</button>
  </form>
  
  {% endblock %}